bin
include
lib
.Python
.envrc
__pycache__
tests/functionnal/__init__.py
tests/functionnal/tempCodeRunnerFile.py
tests/functionnal/test_views.py
tests/perf/locustfile.py
tests/perf/tempCodeRunnerFile.py
tests/unit/test_12_places_max.py
tests/unit/test_booking_past_competition.py
tests/unit/test_points_counting.py
.gitignore
tests/unit/test_comp_places.py
