__pycache__/server.cpython-310.pyc
tests/__pycache__/__init__.cpython-310.pyc
tests/__pycache__/conftest.cpython-310-pytest-7.3.0.pyc
tests/__pycache__/test_12_places_max.cpython-310-pytest-7.3.0.pyc
tests/__pycache__/test_booking_past_competition.cpython-310-pytest-7.3.0.pyc
tests/__pycache__/test_clubs_points.cpython-310-pytest-7.3.0.pyc
tests/__pycache__/test_mail.cpython-310-pytest-7.3.0.pyc
tests/__pycache__/test_server.cpython-310-pytest-7.3.0.pyc
tests/functionnal/__init__.py
tests/functionnal/tempCodeRunnerFile.py
tests/functionnal/test_views.py
tests/perf/locustfile.py
tests/perf/tempCodeRunnerFile.py
tests/unit/__pycache__/__init__.cpython-310.pyc
tests/unit/__pycache__/conftest.cpython-310-pytest-7.3.0.pyc
tests/unit/__pycache__/test_12_places_max.cpython-310-pytest-7.3.0.pyc
tests/unit/__pycache__/test_booking_past_competition.cpython-310-pytest-7.3.0.pyc
tests/unit/__pycache__/test_comp_places.cpython-310-pytest-7.3.0.pyc
tests/unit/__pycache__/test_mail.cpython-310-pytest-7.3.0.pyc
tests/unit/__pycache__/test_points_counting.cpython-310-pytest-7.3.0.pyc
tests/unit/test_points_counting.py
tests/unit/test_booking_past_competition.py
tests/unit/test_12_places_max.py
.gitignore
