bin
include
lib
.Python
.envrc
__pycache__
.flake8
tests/functionnal/__init__.py
tests/functionnal/tempCodeRunnerFile.py
tests/functionnal/test_views.py
tests/perf/locustfile.py
tests/perf/tempCodeRunnerFile.py
tests/unit/test_booking_past_competition.py
tests/unit/test_points_counting.py
.gitignore
