<h1>Points Display Board</h1>
<div class="display-clubs">
    <h2>Table of clubs</h2>
    <ul>
        {% for club in clubs %}
            <li>Club: {{ club.name }} - {{ club.points }} points</li>
        {% endfor %}
    </ul>
</div>
<div class="display-competitions">
    <h2>Table of competitions</h2>
    <ul>
        {% for competition in competitions %}
            <li>
                <u>Event: </u>
                {{ competition.name }}<br>
                Date: {{ competition.date }} <br>
                Places available: {{ competition.numberOfPlaces }}.
            </li>
        {% endfor %}
    </ul>
</div>